<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>27's Agency</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="nav-text-banner">
        <div class="flex-nav">
            <a href="#">Inicio</a>
            <a href="#">Sobre Nosotros</a>
            <img src="{{ url_for('static',filename='logo 27 agency.png') }}" alt="">
            <a href="#">Paquetes de Viaje</a>
            <a href="#">Redes Sociales</a>
        </div>

        <div class="text-banner">
            <h1>¿Listo para comenzar tu viaje con 27' Agency?</h1>
        </div>
    </div>

    <div class="box-first-text">
        <div class="first-text">
            <h1>XXVII Agency</h1>
            <div class="text-first">
                <h3>¡Descubre el mundo con nosotros! Bienvenidos a nuestra agencia de viajes,
                    donde convertimos tus sueños en experiencias inolvidables. Explora destinos exóticos,
                    sumérgete en culturas fascinantes y crea recuerdos que perdurarán toda la vida.
                    Desde aventuras emocionantes hasta escapadas relajantes, estamos aquí para hacer realidad tus
                    deseos de viajar. ¡Únete a nosotros y comienza tu próxima aventura hoy mismo!</h3>
            </div>
        </div>
        <div class="photo-wing">
            <<img src="{{ url_for('static',filename='segunda foto.png') }}" alt="">
        </div>
    </div>

    <div class="box-general-card">

        <div class="column-1">

            <div class="card-individual">
                <div class="card-icon-text">
                    <i class="bi bi-hourglass-split"></i>
                    <div class="text-card">
                        <h1>Experiencia y Reputación</h1>
                        <h2>Más de 10 años brindando experiencias de viaje excepcionales.
                            Reconocidos por nuestro servicio de calidad.</h2>
                    </div>
                </div>
            </div>

            <div class="card-individual">
                <div class="card-icon-text">
                    <i class="bi bi-people-fill"></i>
                    <div class="text-card">
                        <h1>Equipo Profesional</h1>
                        <h2>Nuestro equipo de expertos en viajes está comprometido en
                            hacer una experiencia inolvidable.</h2>
                    </div>
                </div>
            </div>

        </div>

        <div class="column-2">

            <div class="card-individual">
                <div class="card-icon-text">
                    <i class="bi bi-globe-americas"></i>
                    <div class="text-card">
                        <h1>Destinos Únicos y Exclusivos</h1>
                        <h2>Exploramos los rincones más fascinantes del mundo,
                            incluyendo destinos como Corea del Norte.</h2>
                    </div>
                </div>
            </div>

            <div class="card-individual">
                <div class="card-icon-text">
                    <i class="bi bi-airplane-engines-fill"></i>
                    <div class="text-card">
                        <h1>Viajes Responsables</h1>
                        <h2>Promovemos prácticas sostenibles y responsables, respetando los destinos que visitamos.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="linea">


    <div class="title-agency">
        <h1>Todo lo que necesitas saber sobre “XXXVII Agency”</h1>
    </div>

    <div class="general-box-information-text">
        <h1 class="text-information-1">XXXVII Agency es una agencia de viajes comprometida con ofrecer las mejores
            opciones y experiencias a nuestros apreciados clientes. Gracias a la dedicación y profesionalismo de nuestro
            talentoso equipo de colaboradores, hemos logrado forjar sólidas relaciones con aerolíneas y establecimientos
            de hospedaje, quienes nos han distinguido con certificaciones que avalan nuestra excelencia en la
            planificación y guía de viajes inolvidables.</h1>

        <div class="text-photo-information">
            <h1 class="text-information-2">Nuestro amplio portafolio de destinos incluye países Europeos como
                Luxemburgo,
                Francia, Inglaterra, España, Alemania y Suecia, así tambien naciones de Asia como Rusia, China y Japón,
                entre muchos otros destinos cautivadores.</h1>
            <img src="img/logo 27 agency.png" alt="">
        </div>

        <h1 class="text-information-3">Uno de nuestros productos más exclusivos es un tour que brinda la extraordinaria
            oportunidad de visitar la enigmática Corea del Norte, uno de los países más herméticos del mundo. Para hacer
            posible esta experiencia única, hemos establecido una valiosa alianza con “<a
                href="https://www.uritours.com">Uri Tours</a> ”, una
            agencia
            especializada en la organización de viajes a esta nación, encargándose ellos de guiar el recorrido dentro de
            Corea del Norte, mientras que “XXXVII Agency” se responsabiliza de coordinar todos los aspectos relacionados
            con el traslado hacia ese destino.</h1>
    </div>

    <hr class="linea">

    <h1 class="text-informateya">¡Informate Ya!</h1>

    <div class="box-northkorea">
        <div class="exp-northkorea">
            <h1><a href="https://www.uritours.com">Experiencia Corea del Norte</a></h1>
        </div>
    </div>

    <hr class="linea">

    <h1 class="text-informateya">Viajes a Europa</h1>


    <div class="box-general-locations">
        <div class="individual-box-location">
            <img src="{{ url_for('static',filename='luxemburgo.png') }}" alt="">
            <div class="informacion-estadia">
                <h5>11 Días / 10 Noches</h5>
            </div>
            <div class="informacion-viaje">
                <h2>Viajes a Luxemburgo</h2>
            </div>
            <div class="informacion-abajo">
                <hr>
                <h4>Precios por persona.</h4>
                <h4>$1.305.700</h4>
                <h4>Esto incluye Viaje e Impuestos.</h4>
            </div>
        </div>

        <div class="individual-box-location">
            <img src="{{ url_for('static',filename='españa.png') }}" alt="">
            <div class="informacion-estadia">
                <h5>11 Días / 10 Noches</h5>
            </div>
            <div class="informacion-viaje">
                <h2>Viajes a España</h2>
            </div>
            <div class="informacion-abajo">
                <hr>
                <h4>Precios por persona.</h4>
                <h4>$1.305.700</h4>
                <h4>Esto incluye Viaje e Impuestos.</h4>
            </div>
        </div>

        <div class="individual-box-location">
            <img src="{{ url_for('static',filename='inglaterra.png') }}" alt="">
            <div class="informacion-estadia">
                <h5>11 Días / 10 Noches</h5>
            </div>
            <div class="informacion-viaje">
                <h2>Viajes a Inglaterra</h2>
            </div>
            <div class="informacion-abajo">
                <hr>
                <h4>Precios por persona.</h4>
                <h4>$1.305.700</h4>
                <h4>Esto incluye Viaje e Impuestos.</h4>
            </div>
        </div>
    </div>




    <div class="box-general-locations">
        <div class="individual-box-location">
            <img src="{{ url_for('static',filename='francia.png') }}" alt="">
            <div class="informacion-estadia">
                <h5>11 Días / 10 Noches</h5>
            </div>
            <div class="informacion-viaje">
                <h2>Viajes a Francia</h2>
            </div>
            <div class="informacion-abajo">
                <hr>
                <h4>Precios por persona.</h4>
                <h4>$1.305.700</h4>
                <h4>Esto incluye Viaje e Impuestos.</h4>
            </div>
        </div>

        <div class="individual-box-location">
            <img src="{{ url_for('static',filename='alemania.png') }}" alt="">
            <div class="informacion-estadia">
                <h5>11 Días / 10 Noches</h5>
            </div>
            <div class="informacion-viaje">
                <h2>Viajes a Alemania</h2>
            </div>
            <div class="informacion-abajo">
                <hr>
                <h4>Precios por persona.</h4>
                <h4>$1.305.700</h4>
                <h4>Esto incluye Viaje e Impuestos.</h4>
            </div>
        </div>

        <div class="individual-box-location">
            <img src="{{ url_for('static',filename='suecia.png') }}" alt="">
            <div class="informacion-estadia">
                <h5>11 Días / 10 Noches</h5>
            </div>
            <div class="informacion-viaje">
                <h2>Viajes a Suecia</h2>
            </div>
            <div class="informacion-abajo">
                <hr>
                <h4>Precios por persona.</h4>
                <h4>$1.305.700</h4>
                <h4>Esto incluye Viaje e Impuestos.</h4>
            </div>
        </div>
    </div>


    <h1 class="text-asia">Viajes a Asia</h1>


    <div class="box-general-locations">
        <div class="individual-box-location">
            <img src="{{ url_for('static',filename='rusia.png') }}" alt="">
            <div class="informacion-estadia">
                <h5>11 Días / 10 Noches</h5>
            </div>
            <div class="informacion-viaje">
                <h2>Viajes a Rusia</h2>
            </div>
            <div class="informacion-abajo">
                <hr>
                <h4>Precios por persona.</h4>
                <h4>$1.305.700</h4>
                <h4>Esto incluye Viaje e Impuestos.</h4>
            </div>
        </div>

        <div class="individual-box-location">
            <img src="{{ url_for('static',filename='china.png') }}" alt="">
            <div class="informacion-estadia">
                <h5>11 Días / 10 Noches</h5>
            </div>
            <div class="informacion-viaje">
                <h2>Viajes a China</h2>
            </div>
            <div class="informacion-abajo">
                <hr>
                <h4>Precios por persona.</h4>
                <h4>$1.305.700</h4>
                <h4>Esto incluye Viaje e Impuestos.</h4>
            </div>
        </div>

        <div class="individual-box-location">
            <img src="{{ url_for('static',filename='japon.png') }}" alt="">
            <div class="informacion-estadia">
                <h5>11 Días / 10 Noches</h5>
            </div>
            <div class="informacion-viaje">
                <h2>Viajes a Japón</h2>
            </div>
            <div class="informacion-abajo">
                <hr>
                <h4>Precios por persona.</h4>
                <h4>$1.305.700</h4>
                <h4>Esto incluye Viaje e Impuestos.</h4>
            </div>
        </div>
    </div>

    <div class="background-text-rrss">
        <div class="background-rrss">
            <h1>Mantente al día con nuestras ofertas, destinos y consejos de viaje.
                Síguenos en nuestras redes sociales:</h1>
            <div class="rrss-icon">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-whatsapp"></i></a>
                <a href=""><i class="bi bi-twitter-x"></i></a>
            </div>
        </div>
    </div>

    <div class="suscribe-input">
        <h1>Suscribete para recibir ofertas antes que todos.</h1>
        <div class="input-button">
            <i class="bi bi-envelope"></i>
            <input type="email" placeholder="Ingresa tu correo electrónico">
            <button>¡Suscribete Ahora!</button>
        </div>
    </div>

    <div class="card-presentacion">

        <div class="card">
            <div class="card-info">
                <div class="card-avatar"><img src="{{ url_for('static',filename='Griz88.jpg') }}" alt=""></div>
                <div class="card-title">
                    <h5>Benjamín Ramírez</h5>
                </div>
                <div class="card-subtitle">CEO 27's Agency</div>
            </div>
            <ul class="card-social">
                <li class="card-social__item">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M14 9h3l-.375 3H14v9h-3.89v-9H8V9h2.11V6.984c0-1.312.327-2.304.984-2.976C11.75 3.336 12.844 3 14.375 3H17v3h-1.594c-.594 0-.976.094-1.148.281-.172.188-.258.5-.258.938V9z">
                        </path>
                    </svg>
                </li>
                <li class="card-social__item">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M20.875 7.5v.563c0 3.28-1.18 6.257-3.54 8.93C14.978 19.663 11.845 21 7.938 21c-2.5 0-4.812-.687-6.937-2.063.5.063.86.094 1.078.094 2.094 0 3.969-.656 5.625-1.968a4.563 4.563 0 0 1-2.625-.915 4.294 4.294 0 0 1-1.594-2.226c.375.062.657.094.844.094.313 0 .719-.063 1.219-.188-1.031-.219-1.899-.742-2.602-1.57a4.32 4.32 0 0 1-1.054-2.883c.687.328 1.375.516 2.062.516C2.61 9.016 1.938 7.75 1.938 6.094c0-.782.203-1.531.609-2.25 2.406 2.969 5.515 4.547 9.328 4.734-.063-.219-.094-.562-.094-1.031 0-1.281.438-2.36 1.313-3.234C13.969 3.437 15.047 3 16.328 3s2.375.484 3.281 1.453c.938-.156 1.907-.531 2.907-1.125-.313 1.094-.985 1.938-2.016 2.531.969-.093 1.844-.328 2.625-.703-.563.875-1.312 1.656-2.25 2.344z">
                        </path>
                    </svg>
                </li>
                <li class="card-social__item">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M19.547 3c.406 0 .75.133 1.031.398.281.266.422.602.422 1.008v15.047c0 .406-.14.766-.422 1.078a1.335 1.335 0 0 1-1.031.469h-15c-.406 0-.766-.156-1.078-.469C3.156 20.22 3 19.86 3 19.453V4.406c0-.406.148-.742.445-1.008C3.742 3.133 4.11 3 4.547 3h15zM8.578 18V9.984H6V18h2.578zM7.36 8.766c.407 0 .743-.133 1.008-.399a1.31 1.31 0 0 0 .399-.96c0-.407-.125-.743-.375-1.009C8.14 6.133 7.813 6 7.406 6c-.406 0-.742.133-1.008.398C6.133 6.664 6 7 6 7.406c0 .375.125.696.375.961.25.266.578.399.984.399zM18 18v-4.688c0-1.156-.273-2.03-.82-2.624-.547-.594-1.258-.891-2.133-.891-.938 0-1.719.437-2.344 1.312V9.984h-2.578V18h2.578v-4.547c0-.312.031-.531.094-.656.25-.625.687-.938 1.312-.938.875 0 1.313.578 1.313 1.735V18H18z">
                        </path>
                    </svg>
                </li>
            </ul>
        </div>

        <div class="card">
            <div class="card-info">
                <div class="card-avatar"><img src="{{ url_for('static',filename='Griz88.jpg') }}" alt=""></div>
                <div class="card-title">
                    <h5>Papita deis</h5>
                </div>
                <div class="card-subtitle">Co-Fundador 27's Agency</div>
            </div>
            <ul class="card-social">
                <li class="card-social__item">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M14 9h3l-.375 3H14v9h-3.89v-9H8V9h2.11V6.984c0-1.312.327-2.304.984-2.976C11.75 3.336 12.844 3 14.375 3H17v3h-1.594c-.594 0-.976.094-1.148.281-.172.188-.258.5-.258.938V9z">
                        </path>
                    </svg>
                </li>
                <li class="card-social__item">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M20.875 7.5v.563c0 3.28-1.18 6.257-3.54 8.93C14.978 19.663 11.845 21 7.938 21c-2.5 0-4.812-.687-6.937-2.063.5.063.86.094 1.078.094 2.094 0 3.969-.656 5.625-1.968a4.563 4.563 0 0 1-2.625-.915 4.294 4.294 0 0 1-1.594-2.226c.375.062.657.094.844.094.313 0 .719-.063 1.219-.188-1.031-.219-1.899-.742-2.602-1.57a4.32 4.32 0 0 1-1.054-2.883c.687.328 1.375.516 2.062.516C2.61 9.016 1.938 7.75 1.938 6.094c0-.782.203-1.531.609-2.25 2.406 2.969 5.515 4.547 9.328 4.734-.063-.219-.094-.562-.094-1.031 0-1.281.438-2.36 1.313-3.234C13.969 3.437 15.047 3 16.328 3s2.375.484 3.281 1.453c.938-.156 1.907-.531 2.907-1.125-.313 1.094-.985 1.938-2.016 2.531.969-.093 1.844-.328 2.625-.703-.563.875-1.312 1.656-2.25 2.344z">
                        </path>
                    </svg>
                </li>
                <li class="card-social__item">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M19.547 3c.406 0 .75.133 1.031.398.281.266.422.602.422 1.008v15.047c0 .406-.14.766-.422 1.078a1.335 1.335 0 0 1-1.031.469h-15c-.406 0-.766-.156-1.078-.469C3.156 20.22 3 19.86 3 19.453V4.406c0-.406.148-.742.445-1.008C3.742 3.133 4.11 3 4.547 3h15zM8.578 18V9.984H6V18h2.578zM7.36 8.766c.407 0 .743-.133 1.008-.399a1.31 1.31 0 0 0 .399-.96c0-.407-.125-.743-.375-1.009C8.14 6.133 7.813 6 7.406 6c-.406 0-.742.133-1.008.398C6.133 6.664 6 7 6 7.406c0 .375.125.696.375.961.25.266.578.399.984.399zM18 18v-4.688c0-1.156-.273-2.03-.82-2.624-.547-.594-1.258-.891-2.133-.891-.938 0-1.719.437-2.344 1.312V9.984h-2.578V18h2.578v-4.547c0-.312.031-.531.094-.656.25-.625.687-.938 1.312-.938.875 0 1.313.578 1.313 1.735V18H18z">
                        </path>
                    </svg>
                </li>
            </ul>
        </div>
    </div>

    <h1>hola</h1>
</body>

</html>