* {
    margin: 0;
    padding: 0;
}


.container {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    font-size: 3rem;
}

.btn {
    padding: 10px 20px;
    background-color: #f1356d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

p {
    color: white;
}